<template>
    <v-app>
        <v-app-bar app flat>
            <v-container class="fill-height d-flex align-center justify-start">
                <v-avatar class="mr-2" rounded="0">
                    <v-img :src="logo"></v-img>
                </v-avatar>
                <v-btn
                    class="mx-2"
                    color="primary"
                    variant="text"
                    :to="{ name: 'home' }"
                >
                    build
                </v-btn>
                <v-btn
                    class="mx-2"
                    color="primary"
                    variant="text"
                    :to="{ name: 'upload' }"
                >
                    upload
                </v-btn>
                <v-btn
                    class="mx-2"
                    color="primary"
                    variant="text"
                    :to="{ name: 'curate' }"
                >
                    curate
                </v-btn>
                <v-btn
                    class="mx-2"
                    color="primary"
                    variant="text"
                    :to="{ name: 'simulate' }"
                >
                    simulate
                </v-btn>
            </v-container>
        </v-app-bar>
        <v-main>
            <router-view />
        </v-main>
    </v-app>
</template>

<script setup>
import logo from "@/assets/images/logo.png";
</script>
