<template>
    <v-container>
        <v-row>
            <v-col class="text-center mt-5" cols="12">
                curate your
                <span class="text-primary"> Brian </span>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <v-autocomplete
                    v-model="currentLayer"
                    @update:modelValue="filterLayer"
                    density="compact"
                    label="Layer"
                    :items="allLayers"
                ></v-autocomplete>
            </v-col>
        </v-row>
        <div>
            <v-sheet class="d-flex pb-3 bg-black">
                <v-btn
                    variant="outlined"
                    density="compact"
                    class="text-grey-darken-1"
                    @click="sortRarities"
                    >sort</v-btn
                >
                <v-btn
                    variant="outlined"
                    class="text-grey-darken-1 me-auto mx-3"
                    density="compact"
                    @click="equalizeRarities"
                    >equalize</v-btn
                >
                <v-sheet class="bg-black"
                    >Total: {{ layerRaritiesComputed / 100 }}%</v-sheet
                >
            </v-sheet>
        </div>
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">Preview</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Rarity</th>
                    <th class="text-left">Curate</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="trait in layerData" :key="trait._id">
                    <td>
                        <v-img
                            :src="trait.img_data"
                            style="image-rendering: pixelated"
                            width="64px"
                            height="64px"
                            aspect-ratio="1"
                            cover
                        ></v-img>
                    </td>
                    <td>
                        <v-text-field
                            v-model="trait.name"
                            hide-details
                            single-line
                            density="compact"
                            type="text"
                            style="width: 400px"
                        ></v-text-field>
                    </td>
                    <td>{{ layerRarities[trait._id] / 100 }}%</td>
                    <td>
                        <v-slider
                            v-model="layerRarities[trait._id]"
                            class="align-center pt-4"
                            max="10000"
                            min="0"
                            step="1"
                        >
                            <template v-slot:append>
                                <v-text-field
                                    v-model.number="layerRarities[trait._id]"
                                    hide-details
                                    single-line
                                    density="compact"
                                    type="number"
                                    style="width: 150px"
                                ></v-text-field>
                            </template>
                        </v-slider>
                    </td>
                </tr>
            </tbody>
        </v-table>
        <div class="py-6">
            <v-btn @click="beforeUpdateLayer" class="me-4 bg-terminal">
                Submit
            </v-btn>
        </div>
        <v-container>
            <v-dialog v-model="confirmUpdateLayer" width="auto">
                <v-card>
                    <v-card-text> ENTER THE SECRET CODE </v-card-text>
                    <v-text-field
                        v-model="updateLayerCode"
                        type="password"
                        label="code"
                        name="input-10-1"
                        required
                    ></v-text-field>
                    <v-card-actions class="justify-center">
                        <v-btn color="primary" @click="updateLayer"
                            >SUBMIT</v-btn
                        >
                        <v-btn @click="confirmUpdateLayer = false">EXIT</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-container>
        <v-container>
            <v-dialog v-model="confirm532" width="auto">
                <v-card>
                    <v-card-text> wr0n6 4n5w3r 0n1y </v-card-text>
                    <v-text-field
                        v-model="code532"
                        type="password"
                        label="???"
                        name="input-10-1"
                        required
                    ></v-text-field>
                    <v-card-actions class="justify-center">
                        <v-btn color="primary" @click="enter532">SUBMIT</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-container>
    </v-container>
</template>

<script setup>
import { onMounted, ref, computed } from "vue";

const TRAITS_URL = "https://1337-traits-builder.vercel.app/brian/traits";

const LAYER_BACKGROUND = "background";
const LAYER_BODY = "brian";
const LAYER_EYES = "eyes";
const LAYER_UNDER = "under";
const LAYER_OVER = "over";
const LAYER_SPECIAL = "special";

const allLayers = ref([
    LAYER_BACKGROUND,
    LAYER_BODY,
    LAYER_EYES,
    LAYER_UNDER,
    LAYER_OVER,
    LAYER_SPECIAL,
]);

const currentLayer = ref(LAYER_BODY);
const traitsData = ref([]);
const layerData = ref([]);

const updateLayerCode = ref("");
const confirmUpdateLayer = ref(false);

const code532 = ref("");
const confirm532 = ref(true);

const sortDesc = ref(true);

const layerRarities = ref({});
const layerRaritiesComputed = computed(() => {
    let total = 0;
    for (let i = 0; i < layerData.value.length; i++) {
        let t = layerRarities.value[layerData.value[i]._id];
        if (!Number.isInteger(t)) {
            t = 0;
        }
        total += t;
    }
    return total;
});

const sortRarities = () => {
    sortDesc.value = !sortDesc.value;
    prepLayerData(currentLayer.value, false);
};

const equalizeRarities = () => {
    const size = layerData.value.length;
    const eq = Math.floor(10000 / size);
    for (let i = 0; i < size; i++) {
        layerRarities.value[layerData.value[i]._id] = eq;
    }
};

const prepLayerData = (layer, reload) => {
    if (reload) {
        layerData.value = traitsData.value.filter((t) => t.type === layer);
    } else {
        // Update with new rarities
        for (let i = 0; i < layerData.value.length; i++) {
            layerData.value[i].rarity =
                layerRarities.value[layerData.value[i]._id];
        }
    }

    if (sortDesc.value) {
        layerData.value = layerData.value.sort(function (a, b) {
            return b.rarity - a.rarity;
        });
    } else {
        layerData.value = layerData.value.sort(function (a, b) {
            return a.rarity - b.rarity;
        });
    }

    if (reload) {
        for (let i = 0; i < layerData.value.length; i++) {
            layerRarities.value[layerData.value[i]._id] =
                layerData.value[i].rarity;
        }
    }
};

const filterLayer = () => {
    prepLayerData(currentLayer.value, true);
};

const beforeUpdateLayer = () => {
    if (layerRaritiesComputed.value !== 10000) {
        alert(
            `TOTAL RARITY IS MUST BE EQUAL TO 100%. CURRENTLY AT ${
                layerRaritiesComputed.value / 100
            }%.`
        );
    } else {
        confirmUpdateLayer.value = true;
    }
};

const updateLayer = () => {
    const RESOURCE = "rarities";
    let payload = {
        rarities: {},
        names: {},
        code: updateLayerCode.value,
    };
    for (let i = 0; i < layerData.value.length; i++) {
        const _id = layerData.value[i]._id;
        payload[RESOURCE][_id] = layerRarities.value[_id];
        payload["names"][_id] = layerData.value[i].name;
    }
    fetch(`${TRAITS_URL}/${RESOURCE}`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
    })
        .then((resp) => resp.json())
        .then((data) => {
            if (data.status != "ok") {
                alert("Wrong secret code");
            } else {
                location.reload();
            }
        })
        .catch((err) => {
            console.log(err);
            alert("No longer open for curating");
        });
};

const fetchTraits = () => {
    fetch(TRAITS_URL, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    })
        .then((resp) => resp.json())
        .then((data) => {
            traitsData.value = data;

            prepLayerData(currentLayer.value, true);
        })
        .catch((err) => {
            console.log(err);
            alert("Something went wrong");
        });
};

const enter532 = () => {
    if (code532.value === import.meta.env.VITE_CURATE_PASS) {
        fetchTraits();
        confirm532.value = false;
    } else {
        alert("wr0n6 4n5w3r 0n1y");
    }
};

onMounted(() => {
    if (!confirm532.value) {
        fetchTraits();
    }
});
</script>
