<template>
    <v-container fluid>
        <v-row>
            <v-col class="text-center mt-5" cols="12">
                build your
                <span class="text-primary"> Brian </span>
            </v-col>
        </v-row>
        <v-row class="py-6">
            <v-col cols="6">
                <v-tabs
                    v-model="toggleTraitsTab"
                    color="secondary"
                    cols="2"
                    md="2"
                    xs="2"
                    align-tabs="start"
                    center-active
                    fixed-tabs
                    show-arrows
                >
                    <v-tab value="backgroundTab"
                        >background ({{ backgroundData.length }})</v-tab
                    >
                    <v-tab value="brianTab"
                        >brian ({{ brianData.length }})</v-tab
                    >
                    <v-tab value="underTab"
                        >under ({{ underData.length }})</v-tab
                    >
                    <v-tab value="eyesTab">eyes ({{ eyesData.length }})</v-tab>
                    <v-tab value="overTab">over ({{ overData.length }})</v-tab>
                    <v-tab value="specialTab"
                        >special ({{ specialData.length }})</v-tab
                    >
                </v-tabs>

                <v-container v-show="isLoading" class="text-center">
                    <v-progress-circular
                        indeterminate
                        color="primary"
                        class="align-center"
                    ></v-progress-circular>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'backgroundTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in backgroundData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'brianTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in brianData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'eyesTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in eyesData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'underTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in underData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'overTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in overData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'specialTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in specialData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

                <v-container>
                    <v-dialog v-model="confirmDelete" width="auto">
                        <v-card>
                            <v-card-text>
                                do you want to delete this?
                            </v-card-text>
                            <v-img
                                :src="imgToDelete"
                                style="image-rendering: pixelated"
                                aspect-ratio="1"
                                cover
                            ></v-img>
                            <v-text-field
                                v-model="operationCode"
                                type="password"
                                label="code"
                                name="input-10-1"
                                required
                            ></v-text-field>
                            <v-card-actions class="justify-center">
                                <v-btn color="primary" @click="proceedDelete"
                                    >LFG</v-btn
                                >
                                <v-btn @click="confirmDelete = false"
                                    >EXIT</v-btn
                                >
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-container>
            </v-col>
            <v-col cols="6" justify="center" align="center">
                <p class="text-secondary pt-3">preview</p>
                <div class="img-layers mt-6">
                    <img data-type="background" :src="currentBackgroundImg" />
                    <img data-type="brian" :src="currentBrianImg" />
                    <img data-type="under" :src="currentUnderImg" />
                    <img data-type="eyes" :src="currentEyesImg" />
                    <img data-type="over" :src="currentOverImg" />
                    <img data-type="special" :src="currentSpecialImg" />
                </div>
                <div class="pt-6">
                    <v-btn
                        variant="text"
                        icon="mdi-shuffle-variant"
                        @click="randomizeTraits(false)"
                    ></v-btn>
                    <v-btn
                        class="text-blue"
                        variant="text"
                        icon="mdi-shuffle-variant"
                        @click="randomizeTraits(true)"
                    ></v-btn>
                    <v-btn
                        variant="text"
                        icon="mdi-download"
                        @click="downloadCompositeTraits()"
                    ></v-btn>
                </div>
                <div class="d-flex flex-row justify-center pt-2">
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentBackgroundImg"
                            :class="wrapbackgroundClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_BACKGROUND)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">
                            {{ LAYER_BACKGROUND }}
                        </p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_BACKGROUND)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentBrianImg"
                            :class="wrapBrianClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_BRIAN)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">
                            {{ LAYER_BRIAN }}
                        </p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_BRIAN)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentUnderImg"
                            :class="wrapUnderClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_UNDER)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">{{ LAYER_UNDER }}</p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_UNDER)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentEyesImg"
                            :class="wrapEyesClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_EYES)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">{{ LAYER_EYES }}</p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_EYES)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentOverImg"
                            :class="wrapOverClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_OVER)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">
                            {{ LAYER_OVER }}
                        </p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_OVER)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentSpecialImg"
                            :class="wrapSpecialClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_SPECIAL)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">
                            {{ LAYER_SPECIAL }}
                        </p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_SPECIAL)"
                        ></v-btn>
                    </v-sheet>
                </div>

                <p class="pt-3 text-smaller-2 text-grey-darken-3">
                    click the thumbnail to lock trait!
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import { onMounted, ref } from "vue";

const TRAITS_URL = "https://1337-traits-builder.vercel.app/brian/traits";

const TERMINAL3_URL = import.meta.env.VITE_TERMINAL3_URL;
const TERMINAL3_API_KEY = import.meta.env.VITE_TERMINAL3_API_KEY;

const LAYER_BACKGROUND = "background";
const LAYER_BRIAN = "brian";
const LAYER_EYES = "eyes";
const LAYER_UNDER = "under";
const LAYER_OVER = "over";
const LAYER_SPECIAL = "special";

const traitsData = ref([]);
const backgroundData = ref([]);
const brianData = ref([]);
const eyesData = ref([]);
const underData = ref([]);
const overData = ref([]);
const specialData = ref([]);
const traitsRarities = ref([]);

const DEFAULT_WRAPPER_CLASS = "img-wrapper";
const LOCKED_WRAPPER_CLASS = "img-wrapper img-wrapper-lock";

const wrapbackgroundClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedbackground = ref(false);
const wrapBrianClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedBrian = ref(false);
const wrapEyesClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedEyes = ref(false);
const wrapUnderClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedUnder = ref(false);
const wrapOverClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedOver = ref(false);
const wrapSpecialClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedSpecial = ref(false);

const TRANSPARENT_BACKGROUND =
    "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IArs4c6QAAAGBQTFRFAAAAIiA0RSg8Zjkxj1Y733Em2aBm7sOa+/I2meVQar4wN5RuS2kvUkskMjw5Pz90MGCCW27hY5v/X83ky9v8////m623hH6HaWpqWVZSdkKKrDIy2Vdj13u6j5dKim8w+2O8zwAAACB0Uk5TAP////////////////////////////////////////+Smq12AAAAEklEQVQ4jWNgGAWjYBSMAuwAAAQgAAGsyR8aAAAAAElFTkSuQmCC";

const currentBackgroundImg = ref(TRANSPARENT_BACKGROUND);
const currentBrianImg = ref(TRANSPARENT_BACKGROUND);
const currentEyesImg = ref(TRANSPARENT_BACKGROUND);
const currentOverImg = ref(TRANSPARENT_BACKGROUND);
const currentUnderImg = ref(TRANSPARENT_BACKGROUND);
const currentSpecialImg = ref(TRANSPARENT_BACKGROUND);

const currentLayersIDs = ref({});

const toggleTraitsTab = ref(null);

const isLoading = ref(false);

const operationCode = ref("");
const imgToDelete = ref("");
const traitIDToDelete = ref("");
const confirmDelete = ref(false);

const updatePreview = (trait) => {
    console.log(trait._id, trait.type, trait.name);
    console.log(trait.img_data);
    updateImgData(trait);
    currentLayersIDs.value[trait.type] = trait._id;
};

const updateImgData = (trait) => {
    switch (trait.type) {
        case LAYER_BACKGROUND:
            currentBackgroundImg.value = trait.img_data;
            break;
        case LAYER_BRIAN:
            currentBrianImg.value = trait.img_data;
            break;
        case LAYER_EYES:
            currentEyesImg.value = trait.img_data;
            break;
        case LAYER_UNDER:
            currentUnderImg.value = trait.img_data;
            break;
        case LAYER_OVER:
            currentOverImg.value = trait.img_data;
            break;
        case LAYER_SPECIAL:
            currentSpecialImg.value = trait.img_data;
            break;
        default:
            break;
    }
};

const clearPreviewThumbnail = (layer) => {
    delete currentLayersIDs.value[layer];

    switch (layer) {
        case LAYER_BACKGROUND:
            currentBackgroundImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_BRIAN:
            currentBrianImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_EYES:
            currentEyesImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_UNDER:
            currentUnderImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_OVER:
            currentOverImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_SPECIAL:
            currentSpecialImg.value = TRANSPARENT_BACKGROUND;
            break;
        default:
            break;
    }
};

const deleteTrait = (trait) => {
    imgToDelete.value = trait.img_data;
    traitIDToDelete.value = trait._id;
    confirmDelete.value = true;
};

const proceedDelete = () => {
    const payload = {
        _id: traitIDToDelete.value,
        op: "d31373",
        code: operationCode.value,
    };
    fetch(`${TRAITS_URL}/update`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
    })
        .then((resp) => resp.json())
        .then((data) => {
            if (data.status != "ok") {
                alert("w20n9 c0d3");
            } else {
                location.reload();
            }
        })
        .catch((err) => {
            console.log(err);
            alert("50m37h1n9 w3n7 w20n9 :(");
        });
};

const lockPreviewThumbnail = (layer) => {
    switch (layer) {
        case LAYER_BACKGROUND:
            isLockedbackground.value = !isLockedbackground.value;
            if (isLockedbackground.value) {
                wrapbackgroundClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapbackgroundClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_BRIAN:
            isLockedBrian.value = !isLockedBrian.value;
            if (isLockedBrian.value) {
                wrapBrianClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapBrianClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_EYES:
            isLockedEyes.value = !isLockedEyes.value;
            if (isLockedEyes.value) {
                wrapEyesClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapEyesClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_UNDER:
            isLockedUnder.value = !isLockedUnder.value;
            if (isLockedUnder.value) {
                wrapUnderClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapUnderClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_OVER:
            isLockedOver.value = !isLockedOver.value;
            if (isLockedOver.value) {
                wrapOverClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapOverClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_SPECIAL:
            isLockedSpecial.value = !isLockedSpecial.value;
            if (isLockedSpecial.value) {
                wrapSpecialClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapSpecialClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        default:
            break;
    }
};

const getRandomTrait = (traitData) => {
    return traitData.value[Math.floor(Math.random() * traitData.value.length)];
};

const getRandomTraitWithRarities = (traitData, rarities) => {
    return traitData.value[getRandomTraitIndex(rarities, randomMaxInt())];
};

const randomMaxInt = () => {
    const min = 0;
    const max = Number.MAX_SAFE_INTEGER;
    return Math.floor(Math.random() * (max - min + 1) + min);
};

const getRandomTraitIndex = (rarities, seed) => {
    const rand = seed % 10000;
    let lowerBound = 0;
    let upperBound = 0;
    let percentage = 0;

    for (let i = 0; i < rarities.length; i++) {
        percentage = rarities[i];
        upperBound = lowerBound + percentage;
        if (rand >= lowerBound && rand < upperBound) {
            return i;
        }

        lowerBound += percentage;
    }

    return 0;
};

const randomizeTraits = (withRarities) => {
    if (!isLockedbackground.value) {
        let trait = getRandomTrait(backgroundData);
        if (withRarities) {
            trait = getRandomTraitWithRarities(
                backgroundData,
                traitsRarities.value[0]
            );
        }
        currentBackgroundImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedBrian.value) {
        let trait = getRandomTrait(brianData);
        if (withRarities) {
            trait = getRandomTraitWithRarities(
                brianData,
                traitsRarities.value[1]
            );
        }
        currentBrianImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedUnder.value) {
        let trait = getRandomTrait(underData);
        if (withRarities) {
            trait = getRandomTraitWithRarities(
                underData,
                traitsRarities.value[2]
            );
        }
        currentUnderImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedEyes.value) {
        let trait = getRandomTrait(eyesData);
        if (withRarities) {
            trait = getRandomTraitWithRarities(
                eyesData,
                traitsRarities.value[3]
            );
        }
        currentEyesImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedOver.value) {
        let trait = getRandomTrait(overData);
        if (withRarities) {
            trait = getRandomTraitWithRarities(
                overData,
                traitsRarities.value[4]
            );
        }
        currentOverImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedSpecial.value) {
        let trait = getRandomTrait(specialData);
        if (withRarities) {
            trait = getRandomTraitWithRarities(
                specialData,
                traitsRarities.value[5]
            );
        }
        currentSpecialImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }
};

const downloadCompositeTraits = () => {
    const payload = [
        currentBackgroundImg.value,
        currentBrianImg.value,
        currentEyesImg.value,
        currentUnderImg.value,
        currentOverImg.value,
        currentSpecialImg.value,
    ];
    fetch(TERMINAL3_URL, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-API-KEY": TERMINAL3_API_KEY,
        },
        body: JSON.stringify({
            images: payload,
        }),
    })
        .then((resp) => resp.json())
        .then((data) => {
            console.log(data.img);
            var a = document.createElement("a");
            a.href = data.img;
            a.download = "brian.png";
            a.click();
        })
        .catch((err) => {
            console.log(err);
            alert("50m37h1n9 w3n7 w20n9 :(");
        });
};

onMounted(() => {
    isLoading.value = true;
    fetch(TRAITS_URL, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    })
        .then((resp) => resp.json())
        .then((data) => {
            isLoading.value = false;

            traitsData.value = data;

            // SET UP TRAITS DATA AND SORT BY RARITIES
            backgroundData.value = traitsData.value
                .filter((t) => t.type === LAYER_BACKGROUND)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            brianData.value = traitsData.value
                .filter((t) => t.type === LAYER_BRIAN)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            eyesData.value = traitsData.value
                .filter((t) => t.type === LAYER_EYES)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            underData.value = traitsData.value
                .filter((t) => t.type === LAYER_UNDER)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            overData.value = traitsData.value
                .filter((t) => t.type === LAYER_OVER)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            specialData.value = traitsData.value
                .filter((t) => t.type === LAYER_SPECIAL)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });

            // SET UP TRAITS RARITIES
            traitsRarities.value[0] = backgroundData.value.map((t) => t.rarity);
            traitsRarities.value[1] = brianData.value.map((t) => t.rarity);
            traitsRarities.value[2] = underData.value.map((t) => t.rarity);
            traitsRarities.value[3] = eyesData.value.map((t) => t.rarity);
            traitsRarities.value[4] = overData.value.map((t) => t.rarity);
            traitsRarities.value[5] = specialData.value.map((t) => t.rarity);
        })
        .catch((err) => {
            console.log(err);
            alert("50m37h1n9 w3n7 w20n9 :(");
        });
});
</script>
