<template>
    <v-container fluid>
        <v-row>
            <v-col class="text-center mt-5" cols="12">
                simulate your
                <span class="text-primary"> Brian </span>
            </v-col>
        </v-row>
        <v-card class="mx-auto mt-3" color="black" max-width="400">
            <v-card-text>
                <v-text-field
                    v-model.number="totalSupply"
                    density="compact"
                    variant="solo"
                    label="Run"
                    append-inner-icon="mdi-shuffle"
                    single-line
                    hide-details
                    @click:append-inner="simulateMint"
                ></v-text-field>
            </v-card-text>
        </v-card>
        <v-container>
            <v-row>
                <v-col v-for="m in mints" :key="m._id" cols="12" md="2">
                    <div class="img-layers-smallest mt-6">
                        <img
                            data-type="background"
                            :src="backgroundData[m.background].img_data"
                        />
                        <img
                            data-type="brian"
                            :src="brianData[m.brian].img_data"
                        />
                        <img
                            data-type="under"
                            :src="underData[m.under].img_data"
                        />
                        <img
                            data-type="eyes"
                            :src="eyesData[m.eyes].img_data"
                        />
                        <img
                            data-type="over"
                            :src="overData[m.over].img_data"
                        />
                        <img
                            data-type="special"
                            :src="specialData[m.special].img_data"
                        />
                    </div>
                </v-col>
            </v-row>
        </v-container>
        <v-row>
            <v-col class="text-center mt-10 mb-3 text-red" cols="12">
                summary
            </v-col>
        </v-row>
        <v-container class="bg-grey-darken-4">
            <v-row>
                <v-col>
                    <span class="text-primary"> background</span>
                    <ul>
                        <li v-for="t in stats.background" :key="t.id">
                            {{ t.id }}:{{ t.count }}
                        </li>
                    </ul>
                </v-col>
                <v-col>
                    <span class="text-primary"> brian </span>
                    <ul>
                        <li v-for="t in stats.brian" :key="t.id">
                            {{ t.id }}:{{ t.count }}
                        </li>
                    </ul>
                </v-col>
                <v-col>
                    <span class="text-primary"> under</span>
                    <ul>
                        <li v-for="t in stats.under" :key="t.id">
                            {{ t.id }}:{{ t.count }}
                        </li>
                    </ul>
                </v-col>
                <v-col>
                    <span class="text-primary">eyes</span>
                    <ul>
                        <li v-for="t in stats.eyes" :key="t.id">
                            {{ t.id }}:{{ t.count }}
                        </li>
                    </ul>
                </v-col>
                <v-col>
                    <span class="text-primary">over</span>
                    <ul>
                        <li v-for="t in stats.over" :key="t.id">
                            {{ t.id }}:{{ t.count }}
                        </li>
                    </ul>
                </v-col>
                <v-col>
                    <span class="text-primary">special</span>
                    <ul>
                        <li v-for="t in stats.special" :key="t.id">
                            {{ t.id }}:{{ t.count }}
                        </li>
                    </ul>
                </v-col>
            </v-row>
        </v-container>
    </v-container>
</template>

<script setup>
import { onMounted, ref } from "vue";

const TRAITS_URL = "https://1337-traits-builder.vercel.app/brian/traits";

const LAYER_BACKGROUND = "background";
const LAYER_BRIAN = "brian";
const LAYER_EYES = "eyes";
const LAYER_UNDER = "under";
const LAYER_OVER = "over";
const LAYER_SPECIAL = "special";

const traitsData = ref([]);
const backgroundData = ref([]);
const brianData = ref([]);
const eyesData = ref([]);
const underData = ref([]);
const overData = ref([]);
const specialData = ref([]);
const traitsRarities = ref([]);

const isLoading = ref(false);

const mints = ref([]);
const dnas = ref({});
const stats = ref({
    background: {},
    brian: {},
    eyes: {},
    under: {},
    over: {},
    special: {},
});
const totalSupply = ref(100);

const simulateMint = () => {
    mints.value = [];
    dnas.value = {};
    stats.value = {
        background: {},
        brian: {},
        eyes: {},
        under: {},
        over: {},
        special: {},
    };

    for (let i = 0; i < totalSupply.value; i++) {
        let background = getRandomTraitWithRarities(traitsRarities.value[0]);
        let brian = getRandomTraitWithRarities(traitsRarities.value[1]);
        let under = getRandomTraitWithRarities(traitsRarities.value[2]);
        let eyes = getRandomTraitWithRarities(traitsRarities.value[3]);
        let over = getRandomTraitWithRarities(traitsRarities.value[4]);
        let special = getRandomTraitWithRarities(traitsRarities.value[5]);
        let dna = [background, brian, under, eyes, over, special].join("_");
        let alreadyMinted = dna in dnas.value;
        while (alreadyMinted == true) {
            background = getRandomTraitWithRarities(traitsRarities.value[0]);
            brian = getRandomTraitWithRarities(traitsRarities.value[1]);
            under = getRandomTraitWithRarities(traitsRarities.value[2]);
            eyes = getRandomTraitWithRarities(traitsRarities.value[3]);
            over = getRandomTraitWithRarities(traitsRarities.value[4]);
            special = getRandomTraitWithRarities(traitsRarities.value[5]);
            dna = [background, brian, under, eyes, over, special].join("_");

            if (!(dna in dnas.value)) {
                break;
            }
        }
        dnas.value[dna] = 1;

        mints.value.push({
            _id: dna,
            background: background,
            brian: brian,
            under: under,
            eyes: eyes,
            over: over,
            special: special,
        });
    }
    for (const k in dnas.value) {
        const indexes = k.split("_");
        if (
            !(backgroundData.value[indexes[0]].name in stats.value.background)
        ) {
            stats.value.background[backgroundData.value[indexes[0]].name] = 0;
        }
        if (!(brianData.value[indexes[1]].name in stats.value.brian)) {
            stats.value.brian[brianData.value[indexes[1]].name] = 0;
        }
        if (!(underData.value[indexes[2]].name in stats.value.under)) {
            stats.value.under[underData.value[indexes[2]].name] = 0;
        }
        if (!(eyesData.value[indexes[3]].name in stats.value.eyes)) {
            stats.value.eyes[eyesData.value[indexes[3]].name] = 0;
        }
        if (!(overData.value[indexes[4]].name in stats.value.over)) {
            stats.value.over[overData.value[indexes[4]].name] = 0;
        }
        if (!(specialData.value[indexes[5]].name in stats.value.special)) {
            stats.value.special[specialData.value[indexes[5]].name] = 0;
        }

        stats.value.background[backgroundData.value[indexes[0]].name] += 1;
        stats.value.brian[brianData.value[indexes[1]].name] += 1;
        stats.value.under[underData.value[indexes[2]].name] += 1;
        stats.value.eyes[eyesData.value[indexes[3]].name] += 1;
        stats.value.over[overData.value[indexes[4]].name] += 1;
        stats.value.special[specialData.value[indexes[5]].name] += 1;
    }

    stats.value.background = sortStats(stats.value.background);
    stats.value.brian = sortStats(stats.value.brian);
    stats.value.under = sortStats(stats.value.under);
    stats.value.eyes = sortStats(stats.value.eyes);
    stats.value.over = sortStats(stats.value.over);
    stats.value.special = sortStats(stats.value.special);
};

const sortStats = (statsLayer) => {
    return Object.keys(statsLayer)
        .map((key) => ({
            id: key,
            count: statsLayer[key],
        }))
        .sort(function (a, b) {
            return b.count - a.count;
        });
};

const getRandomTraitWithRarities = (rarities) => {
    return getRandomTraitIndex(rarities, randomMaxInt());
};

const randomMaxInt = () => {
    const min = 0;
    const max = Number.MAX_SAFE_INTEGER;
    return Math.floor(Math.random() * (max - min + 1) + min);
};

const getRandomTraitIndex = (rarities, seed) => {
    const rand = seed % 10000;
    let lowerBound = 0;
    let upperBound = 0;
    let percentage = 0;

    for (let i = 0; i < rarities.length; i++) {
        percentage = rarities[i];
        upperBound = lowerBound + percentage;
        if (rand >= lowerBound && rand < upperBound) {
            return i;
        }

        lowerBound += percentage;
    }

    return 0;
};

onMounted(() => {
    isLoading.value = true;
    fetch(TRAITS_URL, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    })
        .then((resp) => resp.json())
        .then((data) => {
            isLoading.value = false;

            traitsData.value = data;

            // SET UP TRAITS DATA AND SORT BY RARITIES
            backgroundData.value = traitsData.value
                .filter((t) => t.type === LAYER_BACKGROUND)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            brianData.value = traitsData.value
                .filter((t) => t.type === LAYER_BRIAN)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            eyesData.value = traitsData.value
                .filter((t) => t.type === LAYER_EYES)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            underData.value = traitsData.value
                .filter((t) => t.type === LAYER_UNDER)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            overData.value = traitsData.value
                .filter((t) => t.type === LAYER_OVER)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });
            specialData.value = traitsData.value
                .filter((t) => t.type === LAYER_SPECIAL)
                .sort(function (a, b) {
                    return a.rarity - b.rarity;
                });

            // SET UP TRAITS RARITIES
            traitsRarities.value[0] = backgroundData.value.map((t) => t.rarity);
            traitsRarities.value[1] = brianData.value.map((t) => t.rarity);
            traitsRarities.value[2] = underData.value.map((t) => t.rarity);
            traitsRarities.value[3] = eyesData.value.map((t) => t.rarity);
            traitsRarities.value[4] = overData.value.map((t) => t.rarity);
            traitsRarities.value[5] = specialData.value.map((t) => t.rarity);

            // SIMULATE MINTS
            simulateMint();
        })
        .catch((err) => {
            console.log(err);
            alert("Something went wrong");
        });
});
</script>
